*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Quicksand', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img{
  display: block;
  aspect-ratio: 1/1;
  object-fit: contain;
}